DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'choir_practice',
        'USER': 'postgres',
        'PASSWORD': '***REMOVED***',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}
